*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}


.center{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

section.topo {
    background-color: #10181e;
}

.menu-icones {
    float: right;
}

.menu-icones li img{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.classe-produtos li{
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}

.classe-produtos a:hover {
    color: #7A8E9E;
}

.classe-produtos a {
    text-decoration: none;
    color: #ffffff;
}

section.caixa-slider {
    max-width: 600px;
    margin: 0 auto;
}

section.caixa-slider h2{
    padding: 20px;
}

section.caixa-slider {
    padding: 20 0;
}

section.caixa-slider img{
    padding: 0 20px;
}


  /****SLICK SLIDER****/

.slick-dotted ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    cursor: pointer;
    opacity: 1;
}

li.slick-active button {
    background: black;
    color: black;
}

.slick-slide {
    width: 250px;
    display: inline-block;
}

  /**END SLICK**/

.produtos-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    object-position: center;
}

.produtos {
    padding: 50px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.produtos h2, p{
    padding: 5px;
}

.produtos img{
    width: 405px;
    cursor: pointer;
    margin: 0 20px;
    opacity: 1;
    transition: 1s ease;
    transition: transform 0.3s;
}

.produtos img:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: 1s ease;
    cursor: pointer;
}

.suporte a:hover{
    cursor: pointer;
}

section.suporte {
    background-color: #10181e;
}

section.suporte h2 {
    color: white;
}

section.suporte p {
    padding: 10px;
    color: #7f8578;
}

.suporte p:hover{
    color: #7A8E9E;
}

.suporte-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 768px) {

    section.topo {
        display: none;
    }

    section.caixa-slider {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .produtos-container {
        flex-direction: column;
    }

    .produtos {
        padding: 10px;
    }

    .produtos img{
        width: 320px;
        margin: auto;
    }

    .produtos h2,p {
        font-size: 18px;
    }

    .suporte-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}